<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace表示命名空间 -->
<mapper namespace="com.TNyun.dao.adminMapper">
    <select id="findAdminById"
            parameterType="java.lang.Integer"
            resultType="com.TNyun.entity.admin">
        select a_name,a_password from admin where a_id=#{id}
    </select>

    <update id="set_a_status1" parameterType="java.lang.Integer">
        update customer set status=1 where id= #{id}
    </update>

    <update id="set_a_status0" parameterType="java.lang.Integer">
        update customer set status=0 where id= #{id}
    </update>

    <update id="SetSI_Apply1" parameterType="String">
        update SI_apply set si_agree=1 where si_email= #{si_email} and si_phone like concat('%',#{si_phone},'%')
    </update>

    <update id="SetSI_Apply0" parameterType="String">
        update SI_apply set si_agree=0 where si_email= #{si_email} and si_phone like concat('%',#{si_phone},'%')
    </update>

    <select id="Select_all_service"  resultType="com.TNyun.entity.serviceorder">
        select * from serviceorder
    </select>

    <select id="findMaxId"
            resultType="com.TNyun.entity.SI_admin">
        select * from SI_admin order by si_id desc limit 0,1;
    </select>

    <insert id="addSI_admin"
            parameterType="com.TNyun.entity.SI_admin">
        insert into SI_admin(si_id,si_name,si_password,si_phone,si_email,si_status)
        values(#{si_id},#{si_name},#{si_password},#{si_phone},#{si_email},#{si_status})
    </insert>

    <select id="findSI_adminbyphone"
            parameterType="java.lang.String"
            resultType="com.TNyun.entity.SI_admin">
        select * from SI_admin where si_phone like concat('%',#{si_phone},'%')
    </select>

    <select id="statistic_people_online"
            resultType="java.lang.Integer">
        select count(*) from customer where status='1';
    </select>


    <delete id="deleteadminByid"
            parameterType="java.lang.Integer">
        delete from admin where a_id like concat('%',#{a_id},'%')
    </delete>

    <select id="Select_all_admin"  resultType="com.TNyun.entity.admin">
        select * from admin
    </select>


</mapper>