<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace表示命名空间 -->
<mapper namespace="com.TNyun.dao.Day_countMapper">

    <!--查询全部服务 -->
    <select id="Select_all"  resultType="com.TNyun.entity.Day_count">
        select * from count_day_numbers;
    </select>

</mapper>