<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace表示命名空间 -->
<mapper namespace="com.TNyun.dao.serviceMapper">

    <insert id="addservice"
            parameterType="com.TNyun.entity.Sys_Service">
            insert into service(time,c_id,c_name,s_id,s_name,agree)
            values(#{time},#{c_id},#{c_name},#{s_id},#{s_name},#{agree})
    </insert>

    <delete id="deleteOneByC_idAndS_id"
            >
        delete * from  service where c_id=#{c_id} and s_id=#{s_id}
    </delete>

    <select id="findallByC_id"
            parameterType="java.lang.Integer"
            resultType="com.TNyun.entity.Sys_Service">
        select * from service where c_id=#{c_id}
    </select>




</mapper>